@mixin mq($range) {
    $mob: 480px;
    $tab: 768px;
    $desk: 1280px;

    @if $range==mob {
        @media screen and (min-width: $mob) {
            @content;
        }
    }

    @if $range==only_mob {
        @media (max-width:#{$tab - 0.02}) {
            @content;
        }
    }

    @if $range==tab {
        @media screen and (min-width: $tab) {
            @content;
        }
    }

    @if $range==only_tab {
        @media (min-width:$tab) and (max-width:#{$desk - 0.02}) {
            @content;
        }
    }

    @if $range==desk {
        @media screen and (min-width: $desk) {
            @content;
        }
    }
}