/* Variable */
:root {
  /* Text colors */
  --typical-text-color: #2c2c2c;
  --full-black-color: #000000; // for buttons
  --grey-text-color: #505050;

  /* Universal colors */
  --dark-green: #7eb101;
  --hover-green: #bbf330;
  --noclean-white: #fefefe;
  --orange-def: #ffe550;

  /* Angle radius */
  --small-radius: 30px;
  --full-round: 50%;

  /* Card gap`s distance */
  --card-gap: 32px;

  /* Number of cards in a row */
  --card-numbers: 1;

  /* Transition for :hover & :focus */
  --animation-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // For Header

  // Hero-section

  // Offerings-section

  // Favorites-section
  --item-border-rad: 140px;
  // Customers say

  // Subscribe-section

  // For footer
}
