<section class="customers customers__overlay">
    <div class="customers-container">
        <!-- <img class="customers-container__img" src="./img/Stars.png" alt="Stars" width="100" height="16" /> -->
        <h2 class="section-title">What our Customers Say</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="list customers-container__list">
            <li class="customers-container__item">
                <p class="customers-container__txt">“The Best app I have used to order food in a while, so many options
                    to choose from too, I would recommend to a freind, No questions asked”</p>
                <div class="customers-container__desc">
                    <img class="customers-container__img" src="./images/customers-say/custom-1.jpg" alt="Customers" />
                    <div customers-container__custom-name>
                        <h3>Sumith Shah</h3>
                        <p>Some dude</p>
                    </div>
                </div>
            </li>
            <li class="customers-container__item">“The ease with which I can just go in and order what i want was
                amazing, It
                has
                been a very pleasant
                experience ordering
                from this app”<div>
                    <h3>Sumith Shah</h3>
                    <p>Some dude</p>
                </div>
            </li>
        </ul>
    </div>
</section>