<section class="customers customers__overlay">
    <div class="customers-container">
        <h2 class="customers-container__title">What our Customers Say</h2>
        <p class="customers-container__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="list customers-container__list">
            <li class="customers-container__item">
                <img class="customers-container__stars" src="./images/customers-say/stars.svg" alt=stars" />
                <p class="customers-container__txt">“The Best app I have used to order food in a while, so many options
                    to choose from too, I would recommend to a freind, No questions asked”</p>
                <div class="customers-container__card">
                    <img class="customers-container__card--img" src="./images/customers-say/customer-1.png"
                        alt="Customers" />
                    <div customers-container__card--name>
                        <h3>Sumith Shah</h3>
                        <p>Some dude</p>
                    </div>
                </div>
            </li>
            <li class="customers-container__item">
                <img class="customers-container__stars" src="./images/customers-say/stars.svg" alt=stars" />
                <p class="customers-container__txt">“The ease with which I can just go in and order what i want was
                    amazing, It has been a very pleasant experience ordering from this app”</p>
                <div class="customers-container__card">
                    <img class="customers-container__card--img" src="./images/customers-say/customer-2.png"
                        alt="Customers" />
                    <div customers-container__card--name>
                        <h3>Sumith Shah</h3>
                        <p>Some dude</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>