<section class="favorites" id="favorites">
  <h2 class="favorites__title">Some of Our Favorites</h2>
  <p class="favorites__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul class="favorites__list card-set">
    <li class="favorites__item card-item">
      <a class="favorites__link" href="">
        <picture class="favorites__pic">
          <!-- descktop -->
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-1_desk_@1x.webp 1x,
              ./images/favorites/img-1_desk_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-1_desk_@1x.png 1x,
              ./images/favorites/img-1_desk_@2x.png 2x
            " type="image/png" />
          <!-- tablet -->
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-1_tab_@1x.webp 1x,
              ./images/favorites/img-1_tab_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-1_tab_@1x.png 1x,
              ./images/favorites/img-1_tab_@2x.png 2x
            " type="image/png" />
          <!-- mobile -->
          <source media="(min-width:480px )" srcset="
              ./images/favorites/img-1_mob_@1x.webp 1x,
              ./images/favorites/img-1_mob_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:480px )" srcset="
              ./images/favorites/img-1_mob_@1x.png 1x,
              ./images/favorites/img-1_mob_@2x.png 2x
            " type="image/png" />
          <img class="favorites__img" src="./images/favorites/img-1_mob_@1x.png" alt="Фото бургера" width="315"
            height="315" />
        </picture>
      </a>
    </li>
    <li class="favorites__item card-item">
      <a class="favorites__link" href="">
        <picture class="favorites__pic">
          <!-- descktop -->
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-2_desk_@1x.webp 1x,
              ./images/favorites/img-2_desk_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-2_desk_@1x.png 1x,
              ./images/favorites/img-2_desk_@2x.png 2x
            " type="image/png" />
          <!-- tablet -->
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-2_tab_@1x.webp 1x,
              ./images/favorites/img-2_tab_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-2_tab_@1x.png 1x,
              ./images/favorites/img-2_tab_@2x.png 2x
            " type="image/png" />
          <!-- mobile -->
          <source media="(min-width:480px )" srcset="
              ./images/favorites/img-2_mob_@1x.webp 1x,
              ./images/favorites/img-2_mob_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:480px )" srcset="
              ./images/favorites/img-2_mob_@1x.png 1x,
              ./images/favorites/img-2_mob_@2x.png 2x
            " type="image/png" />
          <img class="favorites__img" src="./images/favorites/img-2_mob_@1x.png" alt="Фото тарілки з пастою" width="315"
            height="315" />
        </picture>
      </a>
    </li>
    <li class="favorites__item card-item">
      <a href="" class="favorites__link">
        <picture class="favorites__pic">
          <!-- descktop -->
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-3_desk_@1x.webp 1x,
              ./images/favorites/img-3_desk_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-3_desk_@1x.png 1x,
              ./images/favorites/img-3_desk_@2x.png 2x
            " type="image/png" />
          <!-- tablet -->
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-3_tab_@1x.webp 1x,
              ./images/favorites/img-3_tab_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-3_tab_@1x.png 1x,
              ./images/favorites/img-3_tab_@2x.png 2x
            " type="image/png" />
          <!-- mobile -->
          <source media="(min-width:480px )" srcset="
              ./images/favorites/img-3_mob_@1x.webp 1x,
              ./images/favorites/img-3_mob_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:480px )" srcset="
              ./images/favorites/img-3_mob_@1x.png 1x,
              ./images/favorites/img-3_mob_@2x.png 2x
            " type="image/png" />
          <img class="favorites__img" src="./images/favorites/img-3_mob_@1x.png" alt="Фото піцци" width="315"
            height="315" />
        </picture>
      </a>
    </li>
    <li class="favorites__item card-item">
      <a href="" class="favorites__link">
        <picture class="favorites__pic">
          <!-- descktop -->
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-4_desk_@1x.webp 1x,
              ./images/favorites/img-4_desk_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-4_desk_@1x.png 1x,
              ./images/favorites/img-4_desk_@2x.png 2x
            " type="image/png" />
          <!-- tablet -->
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-4_tab_@1x.webp 1x,
              ./images/favorites/img-4_tab_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-4_tab_@1x.png 1x,
              ./images/favorites/img-4_tab_@2x.png 2x
            " type="image/png" />
          <!-- mobile -->
          <!-- <source
          media="(min-width:480px )"
          srcset="
            ./images/favorites/img-4_mob_@1x.webp 1x,
            ./images/favorites/img-4_mob_@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:480px )"
          srcset="
            ./images/favorites/img-4_mob_@1x.png 1x,
            ./images/favorites/img-4_mob_@2x.png 2x
          "
          type="image/png"
        /> -->
          <img class="favorites__img" src="./images/favorites/img-4_tab_@1x.png" alt="Фото курки з рисом" width="315"
            height="315" />
        </picture>
      </a>
    </li>
    <li class="favorites__item card-item">
      <a href="" class="favorites__link">
        <picture class="favorites__pic">
          <!-- descktop -->
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-5_desk_@1x.webp 1x,
              ./images/favorites/img-5_desk_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-5_desk_@1x.png 1x,
              ./images/favorites/img-5_desk_@2x.png 2x
            " type="image/png" />
          <!-- tablet -->
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-5_tab_@1x.webp 1x,
              ./images/favorites/img-5_tab_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-5_tab_@1x.png 1x,
              ./images/favorites/img-5_tab_@2x.png 2x
            " type="image/png" />
          <!-- mobile -->
          <!-- <source
          media="(min-width:480px )"
          srcset="
            ./images/favorites/img-5_mob_@1x.webp 1x,
            ./images/favorites/img-5_mob_@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:480px )"
          srcset="
            ./images/favorites/img-5_mob_@1x.png 1x,
            ./images/favorites/img-5_mob_@2x.png 2x
          "
          type="image/png"
        /> -->
          <img class="favorites__img" src="./images/favorites/img-5_tab_@1x.png" alt="Фото салату" width="315"
            height="315" />
        </picture>
      </a>
    </li>
    <li class="favorites__item card-item">
      <a href="" class="favorites__link">
        <picture class="favorites__pic">
          <!-- descktop -->
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-6_desk_@1x.webp 1x,
              ./images/favorites/img-6_desk_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:1280px )" srcset="
              ./images/favorites/img-6_desk_@1x.png 1x,
              ./images/favorites/img-6_desk_@2x.png 2x
            " type="image/png" />
          <!-- tablet -->
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-6_tab_@1x.webp 1x,
              ./images/favorites/img-6_tab_@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width:768px )" srcset="
              ./images/favorites/img-6_tab_@1x.png 1x,
              ./images/favorites/img-6_tab_@2x.png 2x
            " type="image/png" />
          <!-- mobile -->
          <!-- <source
          media="(min-width:480px )"
          srcset="
            ./images/favorites/img-6_mob_@1x.webp 1x,
            ./images/favorites/img-6_mob_@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:480px )"
          srcset="
            ./images/favorites/img-6_mob_@1x.png 1x,
            ./images/favorites/img-6_mob_@2x.png 2x
          "
          type="image/png"
        /> -->
          <img class="favorites__img" src="./images/favorites/img-6_tab_@1x.png" alt="Фото борщу" width="315"
            height="315" />
        </picture>
      </a>
    </li>
  </ul>
</section>
