<footer class="footer section">
  <!-------------------- BLOCK 1 ------------------------------>
  <div class="footer__container">
      <div class="footer__nav">
        <!-------------- logo ----------------->
        <a
          class="footer__nav-logo link"
          href=""
          target="_blank"
          rel="noopener nonereferre"
          aria-label="logo"
        >
          <svg class="footer__nav-svg" width="66" height="52">
            <use href="./images/spryte/spryte.svg#logo"></use>
          </svg>
        </a>

        <!---------- navigation ------------->

        <nav class="footer__nav-nav nav">
          <ul class="footer__nav-list list">
            <li class="footer__nav-item">
              <a
                class="footer__nav-link link"
                href="#hero"
                target="_blank"
                rel="noopener nonereferre"
                aria-label="Home"
              ></a
              >Home
            </li>
            <li class="footer__nav-item">
              <a
                class="footer__nav-link link"
                href="#Offerings"
                target="_blank"
                rel="noopener nonereferre"
                aria-label="about"
              ></a
              >About
            </li>
            <li class="footer__nav-item">
              <a
                class="footer__nav-link link"
                href="#Favorites"
                target="_blank"
                rel="noopener nonereferre"
                aria-label="service"
              ></a
              >Service
            </li>
            <li class="footer__nav-item">
              <a
                class="footer__nav-link link"
                href="#Customers"
                target="_blank"
                rel="noopener nonereferre"
                aria-label="menu"
              ></a
              >Menu
            </li>
            <li class="footer__nav-item">
              <a
                class="footer__nav-link link"
                href="#Subscribe"
                target="_blank"
                rel="noopener nonereferre"
                aria-label="contact"
              ></a
              >Contact
            </li>
          </ul>
        </nav>
      </div>
    <!------------------ BLOCK 2 ------------------------>

    <!------------ forma -------------------->
    <div>
      <div class="footer__form form">
        <h3 class="form__uppertitle uppertitle--form uppertitle">Subscribe</h3>
        <form class="form" autocomplete="off" novalidate>
          <label class="form__label" for="user_email">
            <input class="form__input input--email input" type="email" name="email" placeholder="Enter your email"
              required />
          </label>
          <button class="form__button button" type="submit">Subscribe</button>
          <span class="form__text text-span">By subscribing you agree to with our
            <a class="form__link link-form link" href="" target="_blank" rel="noopener nonereferre"
              aria-label="privacy policy">Privacy Policy
            </a>
          </span>
        </form>
      </div>

      <!----  information-copyright  ----->

      <div class="footer__information-copyright information-copyright">
        <ul class="information-copyright__list">
          <li>
            <a class="information-copyright__link link--information link" href="" target="_blank"
              rel="noopener nonereferre" aria-label="privacy policy">Privacy Policy</a>
          </li>
          <li>
            <a class="information-copyright__link link--information link" href="" target="_blank"
              rel="noopener nonereferre" aria-label="terms of service">Terms of Service</a>
          </li>
          <li>
            <a class="information-copyright__link link--information link reset-link" href="" target="_blank"
              rel="noopener nonereferre" aria-label="cookies settings">Cookies Settings
            </a>
          </li>
        </ul>
        <p class="information-copyright__text text-copyright">
          2022 FoodSta. All right reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
