<footer class="footer footer-bgr-overlay" id="footer">
  <div class="footer__container">
    <!-------------------- BLOCK 1 ------------------------------>
    <!----------- logo - navigation - form ------------------->

    <div class="footer__nav-form">
      <!--------- logo - navigation----------------->

      <div class="footer__nav">
        <!-------------- logo ----------------->
        <a
          class="footer__nav-logo link"
          href=""
          target="_blank"
          rel="noopener nonereferre"
          aria-label="logo"
        >
          <svg class="footer__nav-svg" width="66" height="52">
            <use href="./images/spryte/spryte.svg#logo"></use>
          </svg>
        </a>

        <!---------- navigation ------------->

        <nav class="footer__nav-nav nav">
          <ul class="footer__nav-list list">
            <li class="footer__nav-item">
              <a
                class="footer__nav-link link"
                href="#hero"
                target="_blank"
                rel="noopener nonereferre"
                aria-label="Home"
              ></a
              >Home
            </li>
            <li class="footer__nav-item">
              <a
                class="footer__nav-link link"
                href="#offerings"
                target="_blank"
                rel="noopener nonereferre"
                aria-label="about"
              ></a
              >About
            </li>
            <li class="footer__nav-item">
              <a
                class="footer__nav-link link"
                href="#favorites"
                target="_blank"
                rel="noopener nonereferre"
                aria-label="service"
              ></a
              >Service
            </li>
            <li class="footer__nav-item">
              <a
                class="footer__nav-link link"
                href="#customers"
                target="_blank"
                rel="noopener nonereferre"
                aria-label="menu"
              ></a
              >Menu
            </li>
            <li class="footer__nav-item">
              <a
                class="footer__nav-link link"
                href="#subscribe"
                target="_blank"
                rel="noopener nonereferre"
                aria-label="contact"
              ></a
              >Contact
            </li>
          </ul>
        </nav>
      </div>

      <!------------ forma -------------------->

      <div class="footer__form">
        <h3 class="footer__form-uppertitle">Subscribe</h3>
        <form class="footer__form-includ" autocomplete="off" novalidate>
          <label class="footer__form-includ--label" for="user_email2">
            <input class="footer__form-includ--email" type="email" name="email" placeholder="Enter your email" id="user_email2"
              required />
            <span class="validation-text">&#9888; Not a valid email address (example@email.com)</span>
          </label>
          <button class="footer__form-includ--button button" type="submit">
            Subscribe
          </button>
        </form>
        <span class="footer__form-includ--span"
          >By subscribing you agree to with our
          <a
            class="footer__form-includ--link link"
            href=""
            target="_blank"
            rel="noopener nonereferre"
            aria-label="privacy policy"
            >Privacy Policy
          </a>
        </span>
      </div>
    </div>

    <!------------------ BLOCK 2 ------------------------>

    <!----  information-copyright  ----->

    <div class="footer__information-copyright">
      <ul class="footer__information-copyright--list list">
        <li>
          <a
            class="footer__information-copyright--link link"
            href=""
            target="_blank"
            rel="noopener nonereferre"
            aria-label="privacy policy"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a
            class="footer__information-copyright--link link"
            href=""
            target="_blank"
            rel="noopener nonereferre"
            aria-label="terms of service"
            >Terms of Service</a
          >
        </li>
        <li>
          <a
            class="footer__information-copyright--link link"
            href=""
            target="_blank"
            rel="noopener nonereferre"
            aria-label="cookies settings"
            >Cookies Settings
          </a>
        </li>
      </ul>
      <p class="footer__information-copyright--text">
        2022 FoodSta. All right reserved.
      </p>
    </div>
  </div>
</footer>
