<footer class="footer">
    <div class="footer__container">
        <span class="footer__images"></span>
        <div>
            <a class="link"><img src="/assets/logo.foodsta.png" alt="logo" width="69" height="51"/></a>
        </div>
        <div>
            <nav>
                <ul class="list">
                    <li>Home</li>
                    <li>About</li>
                    <li>Service</li>
                    <li>Menu</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </div>
        <di>
            <h3>Subscribe</h3>
            <form class="" autocomplete="off" novalidate>
                <label class="" for="user_email">
                    <input class="footer__form-input--email" type="email" name="email" placeholder="Enter your email"
                        required />
                </label>
                <button class="" type="submit">Subscribe</button>
                <span class="">By subscribing you agree to with our
                    <a class="link" href="">Privacy Policy</a>
                </span>
            </form>
            <div>
                <ul class="list">
                    <li><a class="link" href="">Policy</a></li>
                    <li><a class="link" href="">Terms of Service</a></li>
                    <li>
                        <a class="link" href="">Cookies Settings</a>Cookies Settings
                    </li>
                </ul>
            </div>
            <div>
                <p>2022 FoodSta. All right reserved.</p>
            </div>
        </di>
    </div>
</footer>