<header class="header">
  <div class="container">
    <a class="link logo" href="">
      <svg class="" width="66" height="52">
        <use href="./images/spryte/spryte.svg#logo"></use>
      </svg>
    </a>
    <div class="header__menu">
      <nav class="nav">
        <ul class="header__list list">
          <li class="header__item">
            <a class="link header__link" href="">Home</a>
          </li>
          <li class="header__item">
            <a class="link header__link" href="">About</a>
          </li>
          <li class="header__item">
            <a class="link header__link" href="">Service</a>
          </li>
          <li class="header__item">
            <a class="link header__link" href="">Menu</a>
          </li>
          <li class="header__item">
            <a class="link header__link" href="">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="btn header__btn" type="button">Order Now</button>
    </div>
    <button
      class="btn__burger"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-menu-button
    >
      <svg
        class=""
        width="28"
        height="28"
        aria-label="Перемикач мобільного меню"
        aria-controls="mobile-menu"
      >
        <use href="./images/spryte/spryte.svg#burger"></use>
      </svg>
    </button>
  </div>
</header>
