<!--Introdaction section-->
<section class="hero">
    <div class="hero__container">
        <div class="hero__text">
            <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique.
                Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            <button class="button" type="button" data-modal-open>Order Now</button>
        </div>

        <div class="container">

            <div class="slider" data-slider="itc-slider" data-loop="true">
                <div class="slider__wrapper">
                    <div class="slider__items">
                        <div class="slider__item">
                            <!-- Slide 1 -->
                            <a class="hero__img-link" href="#" target="_blank" rel="noreferrer noopener"
                                aria-label="The better dishs">
                                <picture>
                                    <!-- Desktop screen -->
                                    <source media="(min-width: 1280px)" srcset="
                                                        ./images/hero/dish-1@1x-lg.webp 1x,
                                                        ./images/hero/dish-1@2x-lg.webp 2x" type="image/webp" />
                                    <source media="(min-width: 1280px)" srcset="
                                                        ./images/hero/dish-1@1x-lg.png 1x,
                                                        ./images/hero/dish-1@2x-lg.png 2x" type="image/png" />

                                    <!-- Tab. screen -->
                                    <source media="(min-width: 768px)" srcset="
                                                        ./images/hero/dish-1@1x-md.webp 1x,
                                                        ./images/hero/dish-1@2x-md.webp 2x" type="image/webp" />
                                    <source media="(min-width: 768px)" srcset="
                                                        ./images/hero/dish-1@1x-md.png 1x,
                                                        ./images/hero/dish-1@2x-md.png 2x" type="image/png" />
                                    <img src="./images/hero/dish-1@1x-md.png" alt="Foods photo" width="528"
                                        height="528" />
                                </picture>
                            </a>
                            </li>
                        </div>
                        <div class="slider__item">
                            <!-- Slide 2 -->
                            <a class="hero__img-link" href="#" target="_blank" rel="noreferrer noopener"
                                aria-label="The better dishs">
                                <picture>
                                    <!-- Desktop screen -->
                                    <source media="(min-width: 1280px)" srcset="
                                                        ./images/hero/dish-2@1x-lg.webp 1x,
                                                        ./images/hero/dish-2@2x-lg.webp 2x" type="image/webp" />
                                    <source media="(min-width: 1280px)" srcset="
                                                        ./images/hero/dish-2@1x-lg.png 1x,
                                                        ./images/hero/dish-2@2x-lg.png 2x" type="image/png" />

                                    <!-- Tab. screen -->
                                    <source media="(min-width: 768px)" srcset="
                                                        ./images/hero/dish-2@1x-md.webp 1x,
                                                        ./images/hero/dish-2@2x-md.webp 2x" type="image/webp" />
                                    <source media="(min-width: 768px)" srcset="
                                                        ./images/hero/dish-2@1x-md.png 1x,
                                                        ./images/hero/dish-2@2x-md.png 2x" type="image/png" />
                                    <img src="./images/hero/dish-2@1x-md.png" alt="Foods photo" width="528"
                                        height="528" />
                                </picture>
                            </a>
                        </div>
                        <div class="slider__item">
                            <!-- Slide 3 -->
                            <a class="hero__img-link" href="#" target="_blank" rel="noreferrer noopener"
                                aria-label="The better dishs">
                                <picture>
                                    <!-- Desktop screen -->
                                    <source media="(min-width: 1280px)" srcset="
                                                        ./images/hero/dish-3@1x-lg.webp 1x,
                                                        ./images/hero/dish-3@2x-lg.webp 2x" type="image/webp" />
                                    <source media="(min-width: 1280px)" srcset="
                                                        ./images/hero/dish-3@1x-lg.png 1x,
                                                        ./images/hero/dish-3@2x-lg.png 2x" type="image/png" />

                                    <!-- Tab. screen -->
                                    <source media="(min-width: 768px)" srcset="
                                                        ./images/hero/dish-3@1x-md.webp 1x,
                                                        ./images/hero/dish-3@2x-md.webp 2x" type="image/webp" />
                                    <source media="(min-width: 768px)" srcset="
                                                        ./images/hero/dish-3@1x-md.png 1x,
                                                        ./images/hero/dish-3@2x-md.png 2x" type="image/png" />
                                    <img src="./images/hero/dish-3@1x-md.png" alt="Foods photo" width="528"
                                        height="528" />
                                </picture>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="slider__control" data-slide="prev"></button>
                <button class="slider__control" data-slide="next"></button>
            </div>

        </div>

</section>








</div>