<section class="offerings">
  <div class="offerings__container">
    <img
      class="offerings__img-1"
      src="./images/offerings/apple-mob@1x.png"
      alt="apple"
    />
    <img
      class="offerings__img-2"
      src="./images/offerings/apple-2-tab@1x.png"
      alt="apple"
    />
    <img
      class="offerings__img-3"
      src="./images/offerings/apple-3-tab@1x.png"
      alt="apple"
    />
    <h2 class="offerings__title">What’s Special About Our Offerings</h2>
    <p class="offerings__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="offerings-list">
      <li class="offerings-list__item">
        <svg class="offerings-list__icon" width="32" height="32">
          <use href="./images/offerings/icons.svg#icon-rocket-launch"></use>
        </svg>
        <h3 class="offerings-list__title">Fasest Delivery</h3>
        <p class="offerings-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="offerings-list__item">
        <svg class="offerings-list__icon" width="32" height="32">
          <use href="./images/offerings/icons.svg#icon-touch-app"></use>
        </svg>
        <h3 class="offerings-list__title">Easy to order</h3>
        <p class="offerings-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <button class="offerings__btn" type="button">Order Now</button>
    <a class="offerings__link" href="" target="_blank" rel="noreferrer noopener"
      >Read More ></a
    >
  </div>
</section>
