<section class="">
  <div class="">
    <img src="/assets/subscribe.banan.mobile.png" alt="banan" width="280" />
    <h2 class="">Subscribe To Get Special Offers</h2>
    <h3 class="">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </h3>
    <form class="" autocomplete="off" novalidate>
      <label class="" for="user_email">
        <input
          class="footer__form-input--email"
          type="email"
          name="email"
          placeholder="Enter your email"
          required
        />
      </label>
      <button class="button" type="submit">Subscribe</button>
    </form>
  </div>
</section>
