<section class="subscribe section-padding">
  <div class="subscribe__container container">
    <div class="subscribe__image image-mobile">
      <img
        src="/assets/subscribe.banan.tablete.png"
        alt="banan"
        width="280"
        height="78"
      />
    </div>

    <div class="subscribe__image image-tablete">
      <img
        src="/assets/subscribe.banan.tablete.png"
        alt="banan"
        width="281"
        height="136"
      />
    </div>
    <div class="subscribe__image image-deskt">
      <img
        src="/assets/subscribe.banan.deskt.png"
        alt="banan"
        width="608"
        height="266"
      />
    </div>

    <div class="subscribe__block">
      <h2 class="subscribe__uppertitle uppertitle">
        Subscribe To Get <br />
        Special Offers
      </h2>
      <p class="subscribe__subtitle subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </div>

    <div class="subscribe__form form">
      <h3 class="form__uppertitle uppertitle--form uppertitle visually-hidden">
        Subscribe
      </h3>
      <form class="form" autocomplete="off" novalidate>
        <label class="form__label" for="user_email">
          <input
            class="form__input input--email input"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </label>
        <button class="form__button button" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
