<section class="subscribe section">
  <div class="subscribe__container container">
    <div class="subscribe__image">
      <img src="/assets/subscribe.banan.mobile.png" alt="banan" width="280" />
    </div>

    <h2 class="subscribe__uppertitle uppertitle">
      Subscribe To Get Special Offers
    </h2>
    <h3 class="subscribe__subtitle subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </h3>
    <div class="subscribe__form form">
      <h3 class="form__uppertitle uppertitle--form uppertitle">Subscribe</h3>
      <form class="form" autocomplete="off" novalidate>
        <label class="form__label" for="user_email">
          <input
            class="form__input input--email input"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </label>
        <button class="form__button button" type="submit">Subscribe</button>
        <span class="form__text text-span"
          >By subscribing you agree to with our
          <a
            class="form__link link-form link"
            href=""
            target="_blank"
            rel="noopener nonereferre"
            aria-label="privacy policy"
            >Privacy Policy
          </a>
        </span>
      </form>
    </div>
  </div>
</section>
