.slider {
    display: flex;
    justify-content: center;
    align-items: center;
                
    height: 580px;
    width: 580px;

    border-radius: var(--full-round);
    border: 26px solid var(--orange-def);

    position: relative;

    &__wrapper {
    border-radius: var(--full-round);
    overflow: hidden;
    }

    &__items {
    display: flex;
    transition: transform var(--animation-time);
    }

    &__item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;       
    user-select: none;
    }

    &__img-link:hover .slider,
    &__img-link:focus .slider{
        border-color: var(--hover-green);
    }

    /* Buttoms */
    &__buttom{
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;       
        top: 50%;
        transform: translateY(-50%);        
    }
        
    &__bottom--left{
        position: absolute;
        left: -40px;
    }

    &__bottom--right{
        position: absolute;
        right: -40px;
    }
    
    &__control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 50px;        

        border: none;
        background-color: transparent;
        
        cursor: pointer;    
    }    

    // &__control:hover,
    // &__control:focus {
           

    // }

    &__icon{
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 56px;       
    }

    &__vector{
        flex-shrink: 0;
    }

    &__wrapper:hover .slider,
    &__wrapper:focus .slider{
    border-color: var(--hover-green);
}
}

// .slider:hover,
// .slider:focus {
//     border-color: var(--hover-green);
// }

