.customers {
  padding-top: 33px;
  padding-bottom: 89px;

  @extend %container;

  &__overlay {
    max-width: 480px;
    background-image: url(../images/customers-say/bg-320.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}
.customers-container {
  &__title {
    margin-bottom: 20px;
    @extend %section-title;
  }
  &__desc {
    margin-bottom: 32px;
  }

  &__txt {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 40px;
  }
  &__stars {
    padding-bottom: 28px;
  }
}

.customers-container__card {
  display: flex;

  &--img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }
  &--name {
    display: block;
    font-weight: 600;
    padding-right: 16px;
    border-right: 0.85px solid #7eb101;
  }
}

.customers-container__item {
  width: 280px;
  padding: 8px;
  margin: 0 auto;
  text-align: left;
  background-color: #ffffff;
  border-radius: 0 30px 30px 30px;

  @extend %reset-list;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
