.customers {
  padding-top: 33px;
  padding-bottom: 89px;

  @extend %container;

  @include mq(tab) {
    padding-top: 59px;
    padding-bottom: 115px;
  }
  @include mq(desk) {
    padding-top: 100px;
    padding-bottom: 213px;
  }

  background-size: cover;
  background-position: bottom;
  background-image: url(../images/customers-say/bg-mob@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/customers-say/bg-mob@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/customers-say/bg-tab@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/customers-say/bg-tab@2x.png);
    }
    @media screen and (min-width: 1280px) {
      background-image: url(../images/customers-say/bg-desk@1x.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/customers-say/bg-desk@2x.png);
      }
    }
  }
  .customers-container {
    &__title {
      margin-bottom: 20px;

      @include mq(tab) {
        font-size: 42px;
      }
      @include mq(desk) {
        font-size: 42px;
      }
    }

    &__desc {
      margin-bottom: 32px;
    }

    &__txt {
      font-weight: 700;
      font-size: 16px;
      margin-top: 28px;
      margin-bottom: 40px;
    }

    &__img {
      width: 48px;
      height: 48px;
      margin-right: 16px;
      border-radius: 50%;
    }

    &__name {
      padding: 6px 16px 6px 0;
      border-right: 1px solid var(--dark-green);
    }

    &__card {
      display: flex;
    }

    &__list {
      @include mq(tab) {
        display: flex;
      }
      @include mq(desk) {
        display: flex;
      }
    }

    &__item {
      width: 280px;
      padding: 8px;
      margin: 0 auto;
      text-align: left;
      background-color: #ffffff;
      border-radius: 0 30px 30px 30px;

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      @extend %reset-list;

      @include mq(tab) {
        width: 336px;
        height: 244px;
        padding: 12px;
        margin-right: 32px;
        margin-bottom: 0;
      }
      @include mq(desk) {
        width: 500px;
        height: 227px;
        padding: 14px;
        margin-left: 0;
        margin-right: 139px;
        margin-bottom: 0;
      }
    }
  }
}
