.favorites {
  @include mq(tab) {
    --card-numbers: 3;
  }
  @include mq(only_mob) {
    &__item:nth-child(n + 4) {
      display: none;
    }
  }
  &__list {
    @include mq(only_mob) {
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
    }
    @extend %reset-list;
  }
  &__link {
    display: flex;
    overflow: hidden;
    @include mq(tab) {
      padding: 24px;
    }
    padding: 18px;

    @extend %reset-link;
  }
  &__pic {
    overflow: hidden;
  }
  &__img {
    max-width: 100%;
  }
  &__item {
    border-radius: 50%;
    border: 11px solid var(--orange-def);
    max-width: 280px;
    // max-height: 280px;
    @include mq(tab) {
      max-width: 338px;
      // max-height: 338x;
    }
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
  &__link:hover,
  &__link:focus {
    border-color: var(--hover-green);
  }
  @extend %section-padding;
  @extend %section-title;
  @extend %container;
}
