.footer {
  display: flex;
  align-items: center;
  max-width: 480px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  @extend %section-padding;

  &__container {
    @extend %container;
  }
}

.information-copyright__list {
  @extend %reset-list;
}

.footer__nav-form {
  display: flex;
  padding: 40px 0;

  margin-bottom: 40px;
}

.nav-form__logo {
  margin-right: 81px;
}

.nav__list {
  margin-bottom: 20px;
}
