.footer {
  @media screen and (min-width: 480px) {
    background-repeat: no-repeat;
    width: 320px;
    height: 690px;
  }

  @media screen and (min-width: 768px) {
    background-repeat: no-repeat;
    width: 758px;
    height: 506px;
  }

  @media screen and (min-width: 1280px) {
    background-repeat: no-repeat;
    width: 1280px;
    height: 395px;
  }
}

.footer__logo {
  display: block;
  background-color: black;
}
