.header {
    position: fixed;
    width: 100%;
    background-color: var(--noclean-white);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    top: 0;
    z-index: 30;

    @include mq(only_mob) {
        padding: 10px 0;
    }

    &__container {
        @extend %container;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        @extend %reset-link;
    }


    &__menu {

        display: flex;
        gap: 28px;
        align-items: center;

        @include mq(only_mob) {

            display: none;

        }
    }

    &__list {
        @extend %reset-list;

        display: flex;
        gap: 28px;
    }

    &__link {
        @extend %reset-link;

        color: var(--full-black-color);
        line-height: 1.14;
        padding: 28px 0;
        display: block;
        transition: color var(--animation-time);

        @include mq(desk) {
            color: var(--typical-text-color);
        }

        &:hover,
        &:focus {
            color: var(--hover-green);
            text-decoration: underline;
        }
    }
}

.mobile-btn__burger {
    fill: var(--dark-green);
    transition: fill var(--animation-time);

    border: none;
    background: transparent;

    &:hover,
    &:focus {

        fill: var(--orange-def);
    }

    @include mq(tab) {

        display: none;
    }

    &__icon {

        fill: currentColor;
    }
}

.mobile-menu {

    position: fixed;
    width: 130px;
    height: 255px;
    right: 20px;
    top: 50px;

    background: var(--noclean-white);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity var(--animation-time), visibility var(--animation-time);

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &__btn {

        position: absolute;
        top: 4px;
        right: 4px;
        border: none;
        background: transparent;

        z-index: 50;
    }

    &__list {
        @extend %reset-list;
    }

    &__link {
        @extend %reset-link;

        display: block;
        padding: 16px;
        font-size: 16px;
        line-height: 1.19;
        color: var(--full-black-color);

        &:hover,
        &:focus {
            background-color: var(--hover-green);
        }
    }

    &__link--border-top {

        border-radius: 30px 0px 0px 0px;
    }

    &__link--border-bottom {

        border-radius: 0px 0px 30px 30px;
    }

}