.hero {

    @extend %section-padding;
    @include mq(desk){
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__container{
        @extend %container;
        display: flex;
        gap: 152px;
        justify-content: space-between;
    }

    &__text{
        width: 502px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__title{
        @extend %section-title;

        @include mq(desk){
            font-size: 48px;
            margin-bottom: 28px;
        }
    }

    &__discr{
        margin-bottom: 28px;
    }
    

}