.subscribe {
  margin-top: -45px;

  @extend %section-padding;  
  padding-top: 0;
  
  @include mq(tab) {
    margin-top: -85px;
  }

  @include mq(desk) {
    padding-bottom: 64px;
  }

  &__container {
    @extend %container;

    @include mq(desk) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 38px;

    }
  }

  &__image {
    display: flex;
    justify-content: center;
    width: 57%;
    margin-left: auto;
    margin-right: auto;

    @include mq(tab){
      margin-right: 0;
      width: 281px;
    }

    @include mq(desk){      
      min-width: 546px;
      
    }
  }

  &__title {
    @extend %section-title;
    margin-bottom: 20px;
  }

  &__subtitle {    
    line-height: 120%;
    margin-bottom: 40px;
    @include mq(tab) {
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 1.5;
    }    
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mq(tab) {
      flex-direction: row;
      gap: 18px;
      justify-content: left;
    }

    @include mq(desk) {      
      gap: 32px;      
    }
  }

  &__label{
    @include mq(tab) {
      width: 394px;
    }
  }   
  
  &__label .footer__form-includ--email{
    width: 100%;

  }

  &__button {
    margin-right: 0;
    width: 106px;
    height: 42px;
    @include mq(tab) {
      width: 106px;
      margin-left: 0;
    }
  }

}
