.subscribe {
  margin-top: -45px;
  padding-top: 0;
  padding-bottom: 0;
  
  @include mq(tab) {
    margin-top: -85px;
  }

  &__container {
    @extend %container;

    @include mq(desk) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    width: 57%;
    margin-left: auto;
    margin-right: auto;

    @include mq(tab){
      margin-right: 0;
      width: 281px;
    }

    @include mq(desk){      
      width: 546px;
    }
  }



}

.uppetitle {
  font-weight: 700;
font-size: 28px;
line-height: 120%;
}
